@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html,
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height:  100%;
}
.container{
    background: linear-gradient(135deg,#8a2be2,#4169e1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content{
  align-items: center;
  background-color: aliceblue;
  padding: 2rem;
  max-width: 40rem;
  border-radius: .5rem;
}
.logo{
    width: 10rem;
    object-fit: contain;
}
h1{
    color: #333;
}
p{
    color: #666;
}
form{
    display: flex;
    flex-direction: column;
}
input[type='email']{
    padding: .5rem;
    border: 1px solid #666;
    margin-bottom: 1rem;
    outline: none;
    border-radius: .5rem;
}
input[type='email']:focus{
    border: 2px solid royalblue;
}
.btn{
    cursor: pointer;
    padding: .8rem;
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: .5rem;
}
.btn:hover{
    background-color: #7a1dd1;
}