* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 max-width: 100%;
}
body{
    background-color: black;
    color: aliceblue;
}
.container{
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
}
.login-head{
    text-align: center;
    margin-bottom: 1.2rem;
}
.login-box{
    display: flex;
    justify-content: center;
}
.form {
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: .5rem;
}
.input{
    border-radius: .2rem;
    border: 1px solid black;
    outline: orange;
}
.input{
    padding: .2rem .5rem;
}
input:focus {
  outline: 2px solid orange;
}
.btn{
    border-radius: .2rem;
    border: none;
    background-color: green;
    color: aliceblue;
    padding: .2rem ;
}
