@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h2,
p{
    margin: 0;
}
html,
body{
     font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
     background-color: #717171;
     height: 100vh;
     display: grid;
     place-items: center;
}
.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
}
.logo{
    border-radius: .5rem;
    width: 15rem;
    object-fit: contain;
}
.heading{
    margin-top:1rem ;
}
.bio{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.social-icon {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-icon:hover {
    background-color: black;
    color: white;
}