* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 max-width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.custom-bg{
  background-color: gray;
}
.carousel-item video {
    height: 300px;
    width: 1300px;
    object-fit: cover;
}
.container{
    max-width: 130rem;
    padding: 0 3rem;
     margin: 0 auto;
}