body,
html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 1rem;
    background-color: #f0f0f0;
}

.grid-container{
    display: grid;
    background-color:#ddd ;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.container{
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    margin: 2rem;
    padding: 1rem;
}
.box{
    background-color:#3498db ;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
}
.box:nth-child(even){
    background-color:#e74c3c ;

}